# Project exclude paths
/.idea/
/node_modules/
/packages/io/node_modules/
/packages/manager/node_modules/
/packages/webdevias/node_modules/
/packages/webdevias/build/
/packages/manager/src/apollo_express/crypt/
~*.docx
~*.tmp
